<!-- <!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <title>Some website</title>
 </head>
  <body>
    {{> header}}
    <p>'Design page'</p>

     {{> footer}}
  </body>
</html> -->

<!DOCTYPE html>
<div class="container">
  <div class="poster">
    <div class="poster__img"></div>
    <div class="poster__info">
      <h1 class="poster__title">Angry Birds</h1>
      <p class="poster__text">Find out why the birds are so angry. When an island populated by happy, flightless birds is visited by mysterious green piggies, it's up to three unlikely outcasts - Red, Chuck and Bomb - to figure out what the pigs are up to.</p>
    </div>
  </div>
  <a href="#">Find out more</a>
</div>
</html>
